<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('轮播广告列表')" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
</head>
<body class="gray-bg">
	
	<!-- 系统参数列表 -->
	<div class="container-div ui-layout-center">
		<div class="row">
			
			<!-- 最上面的搜索框 -->
			<div class="col-sm-12 search-collapse">
				<form id="user-form">
					<div class="select-list">
						<ul>
							<li>
								图片类型：
								<select name="img_type" th:with="type=${@dict.getType('sys_app_img_img_type')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
			
			<!-- 上面的各项增删改查导入导出操作 -->
	        <div class="btn-group-sm" id="toolbar" role="group">
	           	<!-- 操作封装：添加信息，以tab页展现 -->
	        	<a class="btn btn-success" onclick="$.operate.addTab()" shiro:hasPermission="develop:sysAppImg:add">
	                <i class="fa fa-plus"></i> 新增
	            </a>
	            <!-- 操作封装：修改信息，以tab页展现 -->
	            <a class="btn btn-primary single disabled" onclick="$.operate.editTab()" shiro:hasPermission="develop:sysAppImg:edit">
		            <i class="fa fa-edit"></i> 修改
		        </a>
		         <!-- 操作封装：批量删除信息 -->
	            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="develop:sysAppImg:remove">
	                <i class="fa fa-remove"></i> 删除
	            </a>
		        <!-- 表格：导出数据 -->
	            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="develop:sysAppImg:export">
		            <i class="fa fa-download"></i> 导出
		        </a>
	        </div>

	        
	        <!-- bootstrap表格数据部分 -->
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
			
		</div>
	</div>
	
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
		//编辑
		var editFlag = [[${@permission.hasPermi('develop:sysAppImg:edit')}]];	
		//删除
		var removeFlag = [[${@permission.hasPermi('develop:sysAppImg:remove')}]];
		
		//数据字典
		var datas_img_type = [[${@dict.getType('sys_app_img_img_type')}]];
	
		//前缀路径
		var prefix = "/develop/sysAppImg";
		
		//初始化方法
		$(function() {
		   	//查询APP图片列表
		    querySysAppImgList();
		});

		
		//查询APP图片列表
		function querySysAppImgList() {
		    var options = {
		        url: prefix + "/list",//URL列表路径
		        createUrl: prefix + "/add",//新增路径
		        updateUrl: prefix + "/edit/{id}",//编辑路径
		        removeUrl: prefix + "/remove",//删除路径
		        exportUrl: prefix + "/export",//导出路径
		        modalName: "轮播广告",//模块名称：用户
		        showExport: true,
		        sortName: 'id',
	          	sortOrder: 'desc',
		        //列信息
		        columns: [{
		            checkbox: true
		        },
		        {
					field : 'id', 
					title : '编号',
					sortable: true
				},
				{
					field : 'img_type', 
					title : '图片类型',
					align: 'center',
		            formatter: function(value, row, index) {
		            	return $.table.selectDictLabel(datas_img_type, value);
		            }
				},
				{
					field : 'img_url', 
					title : '图片',
					formatter: function(value, row, index) {
						if(row.img_type == '02'){
							return '不支持预览';
						}
						return $.table.imageView(qiniu_domain+value);
					}
				},
// 				{
// 					field : 'img_link', 
// 					title : '公告编号',
// 					align: 'center',
// // 				  	formatter: function(value, row, index) {
// // 				      	return $.table.tooltip(value);
// // 				  	}
// 				},
				{
					field : 'note', 
					title : '备注说明'
				},
				{
					field : 'order_num', 
					title : '排序'
				},
				{
					field : 'cre_date', 
					title : '创建时间',
					sortable: true
				},
				{
					field : 'create_by', 
					title : '创建人'
				},
				{
					field : 'up_date', 
					title : '更新时间',
					sortable: true
				},
				{
					field : 'update_by', 
					title : '更新人'
				},
				{
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	//事件数组
		                var actions = [];
		            	//编辑按钮：修改信息，以tab页展现
		                actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.editTab(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
		              	//删除按钮：删除信息
		            	actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a> ');
		            	return actions.join('');
		            }
		        }]
		    };
		    //表格初始化
		    $.table.init(options);
		}
	</script>
</body>
</html>