<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('操作日志列表')" />
	<th:block th:include="include :: bootstrap-select-css" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
</head>
<body class="gray-bg">
	
	<!-- 操作日志列表 -->
	<div class="container-div">
		<div class="row">
		
			<!-- 最上面的搜索框 -->
			<div class="col-sm-12 search-collapse">
				<form id="operlog-form">
					<div class="select-list">
						<ul>
							<li>
								<label>系统模块： </label><input type="text" name="title"/>
							</li>
							<li>
								<label>操作人员： </label><input type="text" name="operName"/>
							</li>
							<li class="select-selectpicker">
								<label>操作类型： </label><select id="businessTypes" th:with="type=${@dict.getType('sys_oper_type')}" class="selectpicker" data-none-selected-text="请选择" multiple>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li>
								<label>操作状态：</label><select name="status" th:with="type=${@dict.getType('sys_common_status')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li class="select-time">
								<label>操作时间： </label>
								<input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
								<span>-</span>
								<input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="searchPre()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="resetPre()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
			
			<!-- 上面的各项增删改查操作 -->
			<div class="btn-group-sm" id="toolbar" role="group">
				<!-- 操作封装：批量删除信息 -->
				<!-- <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="monitor:operlog:remove">
		            <i class="fa fa-remove"></i> 删除
		        </a> -->
		        <!-- 操作封装：清空信息 -->
		        <!-- <a class="btn btn-danger" onclick="$.operate.clean()" shiro:hasPermission="monitor:operlog:remove">
	                <i class="fa fa-trash"></i> 清空
	            </a> -->
	            <!-- 操作封装：导出数据 -->
	            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="monitor:operlog:export">
		            <i class="fa fa-download"></i> 导出
		        </a>
	        </div>
	        
	        
	        <!-- bootstrap表格数据部分 -->
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
			
		</div>
		
	</div>
	
	
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: bootstrap-select-js" />
	
	<script th:inline="javascript">
		//详情
		var detailFlag = [[${@permission.hasPermi('monitor:operlog:detail')}]];
		
		var datas = [[${@dict.getType('sys_oper_type')}]];//类型
		
		//URL前缀
		var prefix = ctx + "monitor/operlog";

		
		//查询操作日志列表
		$(function() {
		    var options = {
		        url: prefix + "/list",//URL列表路径
		        cleanUrl: prefix + "/clean",//新增路径
		        detailUrl: prefix + "/detail/{id}",//详情路径
		        removeUrl: prefix + "/remove",//删除路径
		        exportUrl: prefix + "/export",//导出路径
		        sortName: "operTime",//排序列名
		        sortOrder: "desc",//排序类型：降序
		        modalName: "操作日志",//模块名称：操作日志
		        escape: true,//转义HTML字符串，替换 &, <, >, ", `, 和 ' 字符.
		        showPageGo: true,//是否跳转页码，这个需要扩展bootstrapTable.js插件，本身不支持
		        rememberSelected: true,
		        columns: [{
		        	field: 'state',
		            checkbox: true
		        },
		        {
		            field: 'operId',
		            title: '日志编号'
		        },
		        {
		            field: 'title',
		            title: '系统模块'
		        },
		        {
		            field: 'businessType',
		            title: '操作类型',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	// 回显数据字典
		            	return $.table.selectDictLabel(datas, value);
		            }
		        },
		        {
		            field: 'operName',
		            title: '操作人员',
		            sortable: true
		        },
		        {
		            field: 'deptName',
		            title: '部门名称'
		        },
		        {
		            field: 'operIp',
		            title: '主机'
		        },
		        {
		            field: 'operLocation',
		            title: '操作地点'
		        },
		        {
		            field: 'status',
		            title: '操作状态',
		            align: 'center',
		            formatter: function(value, row, index) {
		                if (value == 0) {
		                    return '<span class="badge badge-primary">成功</span>';
		                } else if (value == 1) {
		                    return '<span class="badge badge-danger">失败</span>';
		                }
		            }
		        },
		        {
		            field: 'operTime',
		            title: '操作时间',
		            sortable: true
		        },
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	//事件数组
		            	var actions = [];
		            	//详情按钮
		            	actions.push('<a class="btn btn-warning btn-xs ' + detailFlag + '" href="javascript:void(0)" onclick="$.operate.detail(\'' + row.operId + '\')"><i class="fa fa-search"></i>详细</a>');
		                return actions.join('');
		            }
		        }]
		    };
		  	//表格初始化
		    $.table.init(options);
		});
		
		
		function searchPre() {
		    var data = {};
		    data.businessTypes = $.common.join($('#businessTypes').selectpicker('val'));
		    $.table.search('operlog-form', data);
		}
		
		function resetPre() {
			$.form.reset();
			$("#businessTypes").selectpicker('refresh');
		}
	</script>
</body>
</html>