<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.ruoyi.project.develop.param.mapper.SysAppImgMapper">


	<!-- 查询APP图片列表 -->
	<select id="getSysAppImgList" parameterType="java.util.Map" resultType="java.util.Map" >
		SELECT
			id,
			img_type,
			img_url,
			img_link,
			note,
			order_num,
			create_by,
			update_by,
			DATE_FORMAT(
				STR_TO_DATE(
					CONCAT(cre_date, cre_time),
					'%Y%m%d%H%i%s'
				),
				'%Y-%m-%d %H:%i:%s'
			) AS cre_date,
			DATE_FORMAT(
				STR_TO_DATE(
					CONCAT(up_date, up_time),
					'%Y%m%d%H%i%s'
				),
				'%Y-%m-%d %H:%i:%s'
			) AS up_date
		FROM
			t_sys_app_img
		<where>
			<if test="map.img_type != null and map.img_type != ''">
				img_type = #{map.img_type}
			</if>
			<!-- 开始时间检索 -->
			<if test="map.beginTime != null and map.beginTime != ''">
				AND cre_date &gt;= date_format(#{map.beginTime},'%Y%m%d')
			</if>
			<!-- 结束时间检索 -->
			<if test="map.endTime != null and map.endTime != ''">
				AND cre_date &lt;= date_format(#{map.endTime},'%Y%m%d')
			</if>
		</where>
		<!-- 数据范围过滤 -->
		${map.dataScope}
	</select>
	
	
	
	<!-- 导出国际交易所信息 -->
	<select id="selectSysAppImgList" parameterType="java.util.Map" resultType="com.ruoyi.project.develop.param.domain.SysAppImg" >
		SELECT
			id,
			img_type,
			img_url,
			img_link,
			note,
			order_num,
			create_by,
			update_by,
			DATE_FORMAT(
				STR_TO_DATE(
					CONCAT(cre_date, cre_time),
					'%Y%m%d%H%i%s'
				),
				'%Y-%m-%d %H:%i:%s'
			) AS cre_date,
			DATE_FORMAT(
				STR_TO_DATE(
					CONCAT(up_date, up_time),
					'%Y%m%d%H%i%s'
				),
				'%Y-%m-%d %H:%i:%s'
			) AS up_date
		FROM
			t_sys_app_img
		<where>
			<if test="map.img_type != null and map.img_type != ''">
				img_type = #{map.img_type}
			</if>
			<!-- 开始时间检索 -->
			<if test="map.beginTime != null and map.beginTime != ''">
				AND cre_date &gt;= date_format(#{map.beginTime},'%Y%m%d')
			</if>
			<!-- 结束时间检索 -->
			<if test="map.endTime != null and map.endTime != ''">
				AND cre_date &lt;= date_format(#{map.endTime},'%Y%m%d')
			</if>
		</where>
		<!-- 数据范围过滤 -->
		${map.dataScope}
	</select>
	
	
	<!-- 查询详情 -->
	<select id="getSysAppImgById" parameterType="java.lang.String" resultType="java.util.Map">
		SELECT * FROM t_sys_app_img where id=#{appImg_id}
	</select>
	
	
	<!-- 更新 -->
	<update id="updateSysAppImg" parameterType="java.util.Map" >
		update t_sys_app_img
 		<set>
 			<if test="map.img_url != null and map.img_url != ''">img_url = #{map.img_url},</if>
 			<if test="map.img_link != null and map.img_link != ''">img_link = #{map.img_link},</if>
 			<if test="map.note != null and map.note != ''">note = #{map.note},</if>
 			<if test="map.order_num != null and map.order_num != ''">order_num = #{map.order_num},</if>
 			<if test="map.update_by != null and map.update_by != ''">update_by = #{map.update_by},</if>
 			<if test="map.up_date != null and map.up_date != ''">up_date = #{map.up_date},</if>
 			<if test="map.up_time != null and map.up_time != ''">up_time = #{map.up_time}</if>
 		</set>
 		where id = #{map.appImg_id}
	</update>
	
	
	<!-- 新增交易所信息 -->
 	<insert id="addSysAppImg" parameterType="java.util.Map" >
 		insert into t_sys_app_img(
 			<if test="map.img_link != null and map.img_link != ''">img_link,</if>
 			<if test="map.img_url != null and map.img_url != ''">img_url,</if>
 			<if test="map.img_type != null and map.img_type != ''">img_type,</if>
 			<if test="map.note != null and map.note != ''">note,</if>
 			<if test="map.create_by != null and map.create_by != ''">create_by,</if>
 			<if test="map.cre_date != null and map.cre_date != ''">cre_date,</if>
 			<if test="map.cre_time != null and map.cre_time != ''">cre_time,</if>
 			<if test="map.order_num != null and map.order_num != ''">order_num</if>
 		)values(
 			<if test="map.img_link != null and map.img_link != ''">#{map.img_link},</if>
 			<if test="map.img_url != null and map.img_url != ''">#{map.img_url},</if>
 			<if test="map.img_type != null and map.img_type != ''">#{map.img_type},</if>
 			<if test="map.note != null and map.note != ''">#{map.note},</if>
 			<if test="map.create_by != null and map.create_by != ''">#{map.create_by},</if>
 			<if test="map.cre_date != null and map.cre_date != ''">#{map.cre_date},</if>
 			<if test="map.cre_time != null and map.cre_time != ''">#{map.cre_time},</if>
 			<if test="map.order_num != null and map.order_num != ''">#{map.order_num}</if>
 		)
	</insert>
	
	
	<!-- 根据国际交易所id删除 -->
	<delete id="deleteSysAppImg" parameterType="java.lang.String" >
		delete from t_sys_app_img where id=#{appImg_id}
	</delete>
	
</mapper>