<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruoyi.project.develop.product.mapper.SysProductMapper">

	<!-- 查询商品信息列表 -->
	<select id="getSysProductList" parameterType="java.util.Map" resultType="java.util.Map" >
		SELECT
			t.id,
			t.goods_name,
			t.goods_show,
			t.goods_navigation,
			t.goods_describe,
			t.goods_stock_num,
			t.goods_sales_num,
			t.goods_price,
			t.goods_status,
			t.del_status,
			t.order_num,
			t.remark,
			t.sharestock_num,
			t.create_by,
			t.update_by,
			DATE_FORMAT(
				STR_TO_DATE(
					CONCAT(t.cre_date, t.cre_time),
					'%Y%m%d%H%i%s'
				),
				'%Y-%m-%d %H:%i:%s'
			) AS cre_date,
			DATE_FORMAT(
				STR_TO_DATE(
					CONCAT(t.up_date, t.up_time),
					'%Y%m%d%H%i%s'
				),
				'%Y-%m-%d %H:%i:%s'
			) AS up_date,
			t1.category_name
		FROM
			t_sys_product_info t
			left join t_sys_product_category_info t1 on t.category_id = t1.id
		<where>
			<if test="map.goods_name != null and map.goods_name != ''">
				AND t.goods_name like concat('%', #{map.goods_name}, '%') 
			</if>
			<if test="map.goods_status != null and map.goods_status != ''">
				AND t.goods_status = #{map.goods_status}
			</if>
			<if test="map.del_status != null and map.del_status != ''">
				AND t.del_status = #{map.del_status}
			</if>
			<!-- 开始时间检索 -->
			<if test="map.beginTime != null and map.beginTime != ''">
				AND t.cre_date &gt;= date_format(#{map.beginTime},'%Y%m%d')
			</if>
			<!-- 结束时间检索 -->
			<if test="map.endTime != null and map.endTime != ''">
				AND t.cre_date &lt;= date_format(#{map.endTime},'%Y%m%d')
			</if>
		</where>
		<!-- 数据范围过滤 -->
		${map.dataScope}
	</select>
	<!-- 导出商品分类信息 -->
	<select id="selectSysProductList" parameterType="java.util.Map" resultType="com.ruoyi.project.develop.product.domain.SysProduct" >
		SELECT
			id,
			goods_name,
			goods_show,
			goods_navigation,
			goods_describe,
			goods_stock_num,
			goods_sales_num,
			goods_price,
			goods_status,
			del_status,
			order_num,
			remark,
			sharestock_num,
			create_by,
			update_by,
			DATE_FORMAT(
				STR_TO_DATE(
					CONCAT(cre_date, cre_time),
					'%Y%m%d%H%i%s'
				),
				'%Y-%m-%d %H:%i:%s'
			) AS cre_date,
			DATE_FORMAT(
				STR_TO_DATE(
					CONCAT(up_date, up_time),
					'%Y%m%d%H%i%s'
				),
				'%Y-%m-%d %H:%i:%s'
			) AS up_date
		FROM
			t_sys_product_info
		<where>
			<if test="map.goods_name != null and map.goods_name != ''">
				AND goods_name like concat('%', #{map.goods_name}, '%') 
			</if>
			<if test="map.goods_status != null and map.goods_status != ''">
				AND goods_status = #{map.goods_status}
			</if>
			<if test="map.del_status != null and map.del_status != ''">
				AND del_status = #{map.del_status}
			</if>
			<!-- 开始时间检索 -->
			<if test="map.beginTime != null and map.beginTime != ''">
				AND cre_date &gt;= date_format(#{map.beginTime},'%Y%m%d')
			</if>
			<!-- 结束时间检索 -->
			<if test="map.endTime != null and map.endTime != ''">
				AND cre_date &lt;= date_format(#{map.endTime},'%Y%m%d')
			</if>
		</where>
		<!-- 数据范围过滤 -->
		${map.dataScope}
	</select>
	<!-- 根据编号查询商品详情 -->
	<select id="getSysProductById" parameterType="java.lang.String" resultType="java.util.Map" >
		SELECT
			t.*,
			t1.category_name
		FROM
			t_sys_product_info t
		left join t_sys_product_category_info t1 on t.category_id = t1.id
		where t.id=#{goods_id}
	</select>
	
	
	<!-- 新增商品信息 -->
 	<insert id="addSysProduct" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="map.goods_id">
 		insert into t_sys_product_info(
 			<if test="map.goods_name != null and map.goods_name != ''">goods_name,</if>
 			<if test="map.goods_show != null and map.goods_show != ''">goods_show,</if>
 			<if test="map.goods_navigation != null and map.goods_navigation != ''">goods_navigation,</if>
 			<if test="map.goods_describe != null and map.goods_describe != ''">goods_describe,</if>
 			<if test="map.goods_stock_num != null and map.goods_stock_num != ''">goods_stock_num,</if>
 			<if test="map.goods_sales_num != null and map.goods_sales_num != ''">goods_sales_num,</if>
 			<if test="map.goods_price != null and map.goods_price != ''">goods_price,</if>
 			<if test="map.order_num != null and map.order_num != ''">order_num,</if>
 			<if test="map.remark != null and map.remark != ''">remark,</if>
 			<if test="map.category_id != null and map.category_id != ''">category_id,</if>
 			<if test="map.sharestock_num != null and map.sharestock_num != ''">sharestock_num,</if>
 			<if test="map.create_by != null and map.create_by != ''">create_by,</if>
 			<if test="map.cre_date != null and map.cre_date != ''">cre_date,</if>
 			<if test="map.cre_time != null and map.cre_time != ''">cre_time</if>
 		)values(
 			<if test="map.goods_name != null and map.goods_name != ''">#{map.goods_name},</if>
 			<if test="map.goods_show != null and map.goods_show != ''">#{map.goods_show},</if>
 			<if test="map.goods_navigation != null and map.goods_navigation != ''">#{map.goods_navigation},</if>
 			<if test="map.goods_describe != null and map.goods_describe != ''">#{map.goods_describe},</if>
 			<if test="map.goods_stock_num != null and map.goods_stock_num != ''">#{map.goods_stock_num},</if>
 			<if test="map.goods_sales_num != null and map.goods_sales_num != ''">#{map.goods_sales_num},</if>
 			<if test="map.goods_price != null and map.goods_price != ''">#{map.goods_price},</if>
 			<if test="map.order_num != null and map.order_num != ''">#{map.order_num},</if>
 			<if test="map.remark != null and map.remark != ''">#{map.remark},</if>
 			<if test="map.category_id != null and map.category_id != ''">#{map.category_id},</if>
 			<if test="map.sharestock_num != null and map.sharestock_num != ''">#{map.sharestock_num},</if>
 			<if test="map.create_by != null and map.create_by != ''">#{map.create_by},</if>
 			<if test="map.cre_date != null and map.cre_date != ''">#{map.cre_date},</if>
 			<if test="map.cre_time != null and map.cre_time != ''">#{map.cre_time}</if>
 		)
	</insert>
	<!-- 更新商品信息 -->
	<update id="updateSysProduct" parameterType="java.util.Map" >
		update t_sys_product_info
			set 
			<if test="map.goods_name != null and map.goods_name != '' ">
				goods_name = #{map.goods_name},
			</if>
			<if test="map.goods_show != null and map.goods_show != '' ">
				goods_show = #{map.goods_show},
			</if>
			<if test="map.goods_navigation != null and map.goods_navigation != '' ">
				goods_navigation = #{map.goods_navigation},
			</if>
			<if test="map.goods_describe != null and map.goods_describe != '' ">
				goods_describe = #{map.goods_describe},
			</if>
			<if test="map.goods_price != null and map.goods_price != '' ">
				goods_price = #{map.goods_price},
			</if>
			<if test="map.goods_stock_num != null and map.goods_stock_num != '' ">
				goods_stock_num = #{map.goods_stock_num},
			</if>
			<if test="map.goods_sales_num != null and map.goods_sales_num != '' ">
				goods_sales_num=#{map.goods_sales_num},
			</if>
			<if test="map.category_id != null and map.category_id != '' ">
				category_id=#{map.category_id},
			</if>
			<if test="map.sharestock_num != null and map.sharestock_num != '' ">
				sharestock_num=#{map.sharestock_num},
			</if>
			remark = #{map.remark},update_by = #{map.update_by},
			up_date = #{map.up_date},up_time = #{map.up_time}
 		where id=#{map.goods_id} AND goods_status in ${map.old_goods_status}
	</update>
	
	
	<!-- 更新商品删除状态 -->
	<update id="updateSysProductDelStatus" parameterType="java.util.Map" >
		update t_sys_product_info
			set del_status=#{map.new_del_status},
				remark=#{map.remark},
				update_by=#{map.update_by},
				up_date=#{map.up_date},
				up_time=#{map.up_time}
		where id=#{map.goods_id} 
			AND del_status=#{map.old_del_status} 
			AND goods_status in ${map.old_goods_status} 
	</update>
	<!-- 更新商品信息状态 -->
	<update id="updateSysProductStatus" parameterType="java.util.Map" >
		update t_sys_product_info 
			set goods_status=#{map.new_goods_status},
				up_date=#{map.up_date},
				up_time=#{map.up_time},
				remark=#{map.remark},
				update_by=#{map.update_by}
		where id=#{map.goods_id} 
			AND goods_status in ${map.old_goods_status} 
			AND del_status=#{map.del_status}
	</update>
	<!-- 查询最大排序-->
	<select id="getMaxRankSysProduct" resultType="java.lang.String">
		select max(order_num) from t_sys_product_info
	</select>
	<!-- 查询当前排序产品 -->
	<select id="getProductInfoByRank" parameterType="java.util.Map" resultType="java.util.Map">
		select * from t_sys_product_info where order_num = #{map.order_num}
	</select>
	<!-- 更新产品排序 -->
	<update id="updateSysProductRank" parameterType="java.util.Map">
		update t_sys_product_info set order_num = #{map.order_num} where id = #{map.id}
	</update>
	
</mapper>