<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruoyi.project.develop.param.mapper.SysVersionMapper">

	<!-- 查询系统版本信息列表 -->
	<select id="getSysVersionList" parameterType="java.util.Map" resultType="java.util.Map" >
		SELECT
			id,
			version_no,
			version_url,
			status,
			device_type,
			note,
			create_by,
			update_by,
			remark,
			DATE_FORMAT(
				STR_TO_DATE(
					CONCAT(cre_date, cre_time),
					'%Y%m%d%H%i%s'
				),
				'%Y-%m-%d %H:%i:%s'
			) AS cre_date,
			DATE_FORMAT(
				STR_TO_DATE(
					CONCAT(up_date, up_time),
					'%Y%m%d%H%i%s'
				),
				'%Y-%m-%d %H:%i:%s'
			) AS up_date
		FROM
			t_sys_version_info
		<where>
			<if test="map.version_no != null and map.version_no != ''">
				version_no = #{map.version_no}
			</if>
			<if test="map.status != null and map.status != ''">
				AND status = #{map.status}
			</if>
			<if test="map.device_type != null and map.device_type != ''">
				AND device_type = #{map.device_type}
			</if>
			<!-- 开始时间检索 -->
			<if test="map.beginTime != null and map.beginTime != ''">
				AND cre_date &gt;= date_format(#{map.beginTime},'%Y%m%d')
			</if>
			<!-- 结束时间检索 -->
			<if test="map.endTime != null and map.endTime != ''">
				AND cre_date &lt;= date_format(#{map.endTime},'%Y%m%d')
			</if>
		</where>
		<!-- 数据范围过滤 -->
		${map.dataScope}
	</select>
	
	
	<!-- 导出版本信息 -->
	<select id="selectSysVersiontList" parameterType="java.util.Map" resultType="com.ruoyi.project.develop.param.domain.SysVersion" >
		SELECT
			id,
			version_no,
			version_url,
			status,
			device_type,
			note,
			create_by,
			update_by,
			remark,
			DATE_FORMAT(
				STR_TO_DATE(
					CONCAT(cre_date, cre_time),
					'%Y%m%d%H%i%s'
				),
				'%Y-%m-%d %H:%i:%s'
			) AS cre_date,
			DATE_FORMAT(
				STR_TO_DATE(
					CONCAT(up_date, up_time),
					'%Y%m%d%H%i%s'
				),
				'%Y-%m-%d %H:%i:%s'
			) AS up_date
		FROM
			t_sys_version_info
		<where>
			<if test="map.version_no != null and map.version_no != ''">
				version_no = #{map.version_no}
			</if>
			<if test="map.status != null and map.status != ''">
				AND status = #{map.status}
			</if>
			<if test="map.device_type != null and map.device_type != ''">
				AND device_type = #{map.device_type}
			</if>
			<!-- 开始时间检索 -->
			<if test="map.beginTime != null and map.beginTime != ''">
				AND cre_date &gt;= date_format(#{map.beginTime},'%Y%m%d')
			</if>
			<!-- 结束时间检索 -->
			<if test="map.endTime != null and map.endTime != ''">
				AND cre_date &lt;= date_format(#{map.endTime},'%Y%m%d')
			</if>
		</where>
		<!-- 数据范围过滤 -->
		${map.dataScope}
	</select>
	
	
	<!-- 根据参数id查询版本详情 -->
	<select id="getSysVersionById" parameterType="java.lang.String" resultType="java.util.Map">
		SELECT
			id,
			version_no,
			version_url,
			status,
			device_type,
			note,
			create_by,
			update_by,
			remark,
			DATE_FORMAT(
				STR_TO_DATE(
					CONCAT(cre_date, cre_time),
					'%Y%m%d%H%i%s'
				),
				'%Y-%m-%d %H:%i:%s'
			) AS cre_date,
			DATE_FORMAT(
				STR_TO_DATE(
					CONCAT(up_date, up_time),
					'%Y%m%d%H%i%s'
				),
				'%Y-%m-%d %H:%i:%s'
			) AS up_date
			 from t_sys_version_info where id=#{version_id}
	</select>
	
	
	<!-- 更新版本信息 -->
	<update id="updateSysVersion" parameterType="java.util.Map" >
		update t_sys_version_info
 		<set>
 			<if test="map.version_no != null and map.version_no != ''">version_no = #{map.version_no},</if>
 			<if test="map.version_url != null and map.version_url != ''">version_url = #{map.version_url},</if>
 			<if test="map.status != null and map.status != ''">status = #{map.status},</if>
 			<if test="map.device_type != null and map.device_type != ''">device_type = #{map.device_type},</if>
 			<if test="map.note != null and map.note != ''">note = #{map.note},</if>
 			<if test="map.remark != null and map.remark != ''">remark = #{map.remark},</if>
 			<if test="map.update_by != null and map.update_by != ''">update_by = #{map.update_by},</if>
 			<if test="map.up_date != null and map.up_date != ''">up_date = #{map.up_date},</if>
 			<if test="map.up_time != null and map.up_time != ''">up_time = #{map.up_time},</if>
 		</set>
 		where id=#{map.version_id}
	</update>
	
	
	<!-- 新增版本信息  -->
    <insert id="addSysVersion" parameterType="java.util.Map">
        insert into t_sys_version_info (
			<if test="map.version_no != null and map.version_no != '' ">version_no, </if>
			<if test="map.version_url != null and map.version_url != '' ">version_url, </if>
			<if test="map.status != null and map.status != '' ">status, </if>
			<if test="map.device_type != null and map.device_type != '' ">device_type, </if>
			<if test="map.note != null and map.note != ''">note,</if>
			<if test="map.remark != null and map.remark != ''">remark,</if>
 			<if test="map.create_by != null and map.create_by != ''">create_by,</if>
 			<if test="map.cre_date != null and map.cre_date != ''">cre_date,</if>
 			<if test="map.cre_time != null and map.cre_time != ''">cre_time</if>
 		)values(
			<if test="map.version_no != null and map.version_no != ''">#{map.version_no}, </if>
			<if test="map.version_url != null and map.version_url != ''">#{map.version_url}, </if>
			<if test="map.status != null and map.status != ''">#{map.status}, </if>
			<if test="map.device_type != null and map.device_type != ''">#{map.device_type}, </if>
			<if test="map.note != null and map.note != ''">#{map.note},</if>
			<if test="map.remark != null and map.remark != ''">#{map.remark},</if>
 			<if test="map.create_by != null and map.create_by != ''">#{map.create_by},</if>
 			<if test="map.cre_date != null and map.cre_date != ''">#{map.cre_date},</if>
 			<if test="map.cre_time != null and map.cre_time != ''">#{map.cre_time}</if>
		)
    </insert>
    
    
   	<!--  删除系统版本 -->
    <delete id="deleteSysVersion" parameterType="java.lang.String"  >
    	delete from t_sys_version_info where id=#{version_id}
    </delete>
	
</mapper>