<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruoyi.project.develop.trade.mapper.UserRollMapper">

	<!-- 查询用户转账日志列表 -->
	<select id="getUserRollList" parameterType="java.util.Map" resultType="java.util.Map" >
		SELECT
			t.id,
			t.order_id,
			t.roll_type,
			t.out_user_id,
			t.in_user_id,
			t.in_user_account,
			t.roll_num,
			t.roll_charge,
			t.charge_rate,
			DATE_FORMAT(
				STR_TO_DATE(
					CONCAT(t.cre_date, t.cre_time),
					'%Y%m%d%H%i%s'
				),
				'%Y-%m-%d %H:%i:%s'
			) AS cre_date,
			t1.user_email AS out_user_email,
			t1.user_tel AS out_user_tel,
			t1.nick_name AS out_nick_name,
			t1.register_type AS out_register_type,
			t1.sys_user_account AS out_sys_user_account,
			t1.uid AS out_uid,
			t2.user_email AS in_user_email,
			t2.user_tel AS in_user_tel,
			t2.nick_name AS in_nick_name,
			t2.register_type AS in_register_type,
			t2.sys_user_account AS in_sys_user_account,
			t2.uid AS in_uid
		FROM
			t_user_roll t
		LEFT JOIN t_user_info t1 ON t.out_user_id = t1.id
		LEFT JOIN t_user_info t2 ON t.in_user_id = t2.id
		<where>
			<if test="map.order_id != null and map.order_id != ''">
				t.order_id = #{map.order_id}
			</if>
			<if test="map.roll_type != null and map.roll_type != ''">
				AND t.roll_type = #{map.roll_type}
			</if>
			<if test="map.out_user_id != null and map.out_user_id != ''">
				AND t.out_user_id = #{map.out_user_id}
			</if>
			<if test="map.in_user_id != null and map.in_user_id != ''">
				AND t.in_user_id = #{map.in_user_id}
			</if>
			<if test="map.out_user_tel != null and map.out_user_tel != ''">
				AND t1.user_tel like concat('%', #{map.out_user_tel}, '%')
			</if>
			<if test="map.out_user_email != null and map.out_user_email != ''">
				AND t1.user_email like concat('%', #{map.out_user_email}, '%')
			</if>
			<if test="map.out_register_type != null and map.out_register_type != ''">
				AND t1.register_type = #{map.out_register_type}
			</if>
			<if test="map.out_sys_user_account != null and map.out_sys_user_account != ''">
				AND t1.sys_user_account = #{map.out_sys_user_account}
			</if>
			<if test="map.out_uid != null and map.out_uid != ''">
				AND t1.uid = #{map.out_uid}
			</if>
			<if test="map.in_user_tel != null and map.in_user_tel != ''">
				AND t2.user_tel like concat('%', #{map.in_user_tel}, '%')
			</if>
			<if test="map.in_user_email != null and map.in_user_email != ''">
				AND t2.user_email like concat('%', #{map.in_user_email}, '%')
			</if>
			<if test="map.in_register_type != null and map.in_register_type != ''">
				AND t2.register_type = #{map.in_register_type}
			</if>
			<if test="map.in_sys_user_account != null and map.in_sys_user_account != ''">
				AND t2.sys_user_account = #{map.in_sys_user_account}
			</if>
			<if test="map.in_uid != null and map.in_uid != ''">
				AND t2.uid = #{map.in_uid}
			</if>
			<!-- 开始时间检索 -->
			<if test="map.beginTime != null and map.beginTime != ''">
				AND t.cre_date &gt;= date_format(#{map.beginTime},'%Y%m%d')
			</if>
			<!-- 结束时间检索 -->
			<if test="map.endTime != null and map.endTime != ''">
				AND t.cre_date &lt;= date_format(#{map.endTime},'%Y%m%d')
			</if>
		</where>
		<!-- 数据范围过滤 -->
		${map.dataScope}
	</select>
	
	
	<!-- 汇总数据 -->
	<select id="summaryUserRollList" parameterType="java.util.Map" resultType="java.util.Map" >
		SELECT
			IFNULL(sum(t.roll_num),0.00) as sum_roll_num,
			IFNULL(sum(t.roll_charge),0.00) as sum_roll_charge
		FROM
			t_user_roll t
		LEFT JOIN t_user_info t1 ON t.out_user_id = t1.id
		LEFT JOIN t_user_info t2 ON t.in_user_id = t2.id
		<where>
			<if test="map.order_id != null and map.order_id != ''">
				t.order_id = #{map.order_id}
			</if>
			<if test="map.roll_type != null and map.roll_type != ''">
				AND t.roll_type = #{map.roll_type}
			</if>
			<if test="map.out_user_id != null and map.out_user_id != ''">
				AND t.out_user_id = #{map.out_user_id}
			</if>
			<if test="map.in_user_id != null and map.in_user_id != ''">
				AND t.in_user_id = #{map.in_user_id}
			</if>
			<if test="map.out_user_tel != null and map.out_user_tel != ''">
				AND t1.user_tel like concat('%', #{map.out_user_tel}, '%')
			</if>
			<if test="map.out_user_email != null and map.out_user_email != ''">
				AND t1.user_email like concat('%', #{map.out_user_email}, '%')
			</if>
			<if test="map.out_register_type != null and map.out_register_type != ''">
				AND t1.register_type = #{map.out_register_type}
			</if>
			<if test="map.out_sys_user_account != null and map.out_sys_user_account != ''">
				AND t1.sys_user_account = #{map.out_sys_user_account}
			</if>
			<if test="map.out_uid != null and map.out_uid != ''">
				AND t1.uid = #{map.out_uid}
			</if>
			<if test="map.in_user_tel != null and map.in_user_tel != ''">
				AND t2.user_tel like concat('%', #{map.in_user_tel}, '%')
			</if>
			<if test="map.in_user_email != null and map.in_user_email != ''">
				AND t2.user_email like concat('%', #{map.in_user_email}, '%')
			</if>
			<if test="map.in_register_type != null and map.in_register_type != ''">
				AND t2.register_type = #{map.in_register_type}
			</if>
			<if test="map.in_sys_user_account != null and map.in_sys_user_account != ''">
				AND t2.sys_user_account = #{map.in_sys_user_account}
			</if>
			<if test="map.in_uid != null and map.in_uid != ''">
				AND t2.uid = #{map.in_uid}
			</if>
			<!-- 开始时间检索 -->
			<if test="map.beginTime != null and map.beginTime != ''">
				AND t.cre_date &gt;= date_format(#{map.beginTime},'%Y%m%d')
			</if>
			<!-- 结束时间检索 -->
			<if test="map.endTime != null and map.endTime != ''">
				AND t.cre_date &lt;= date_format(#{map.endTime},'%Y%m%d')
			</if>
		</where>
		<!-- 数据范围过滤 -->
		${map.dataScope}
	</select>
	
	
	<!-- 导出用户信息 -->
	<select id="selectUserRollList" parameterType="java.util.Map" resultType="com.ruoyi.project.develop.trade.domain.UserRoll" >
		SELECT
			t.id,
			t.order_id,
			t.roll_type,
			t.out_user_id,
			t.in_user_id,
			t.in_user_account,
			t.roll_num,
			t.roll_charge,
			t.charge_rate,
			DATE_FORMAT(
				STR_TO_DATE(
					CONCAT(t.cre_date, t.cre_time),
					'%Y%m%d%H%i%s'
				),
				'%Y-%m-%d %H:%i:%s'
			) AS cre_date,
			t1.user_email AS out_user_email,
			t1.user_tel AS out_user_tel,
			t1.nick_name AS out_nick_name,
			t1.register_type AS out_register_type,
			t1.sys_user_account AS out_sys_user_account,
			t1.uid AS out_uid,
			t2.user_email AS in_user_email,
			t2.user_tel AS in_user_tel,
			t2.nick_name AS in_nick_name,
			t2.register_type AS in_register_type,
			t2.sys_user_account AS in_sys_user_account,
			t2.uid AS in_uid
		FROM
			t_user_roll t
		LEFT JOIN t_user_info t1 ON t.out_user_id = t1.id
		LEFT JOIN t_user_info t2 ON t.in_user_id = t2.id
		<where>
			<if test="map.order_id != null and map.order_id != ''">
				t.order_id = #{map.order_id}
			</if>
			<if test="map.roll_type != null and map.roll_type != ''">
				AND t.roll_type = #{map.roll_type}
			</if>
			<if test="map.out_user_id != null and map.out_user_id != ''">
				AND t.out_user_id = #{map.out_user_id}
			</if>
			<if test="map.in_user_id != null and map.in_user_id != ''">
				AND t.in_user_id = #{map.in_user_id}
			</if>
			<if test="map.out_user_tel != null and map.out_user_tel != ''">
				AND t1.user_tel like concat('%', #{map.out_user_tel}, '%')
			</if>
			<if test="map.out_user_email != null and map.out_user_email != ''">
				AND t1.user_email like concat('%', #{map.out_user_email}, '%')
			</if>
			<if test="map.out_register_type != null and map.out_register_type != ''">
				AND t1.register_type = #{map.out_register_type}
			</if>
			<if test="map.out_sys_user_account != null and map.out_sys_user_account != ''">
				AND t1.sys_user_account = #{map.out_sys_user_account}
			</if>
			<if test="map.out_uid != null and map.out_uid != ''">
				AND t1.uid = #{map.out_uid}
			</if>
			<if test="map.in_user_tel != null and map.in_user_tel != ''">
				AND t2.user_tel like concat('%', #{map.in_user_tel}, '%')
			</if>
			<if test="map.in_user_email != null and map.in_user_email != ''">
				AND t2.user_email like concat('%', #{map.in_user_email}, '%')
			</if>
			<if test="map.in_register_type != null and map.in_register_type != ''">
				AND t2.register_type = #{map.in_register_type}
			</if>
			<if test="map.in_sys_user_account != null and map.in_sys_user_account != ''">
				AND t2.sys_user_account = #{map.in_sys_user_account}
			</if>
			<if test="map.in_uid != null and map.in_uid != ''">
				AND t2.uid = #{map.in_uid}
			</if>
			<!-- 开始时间检索 -->
			<if test="map.beginTime != null and map.beginTime != ''">
				AND t.cre_date &gt;= date_format(#{map.beginTime},'%Y%m%d')
			</if>
			<!-- 结束时间检索 -->
			<if test="map.endTime != null and map.endTime != ''">
				AND t.cre_date &lt;= date_format(#{map.endTime},'%Y%m%d')
			</if>
		</where>
		<!-- 数据范围过滤 -->
		${map.dataScope}
	</select>
	
	
	
</mapper>