<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruoyi.project.develop.user.mapper.UserRealMapper">

	<!-- 查询 -->
	<select id="getUserRealList" parameterType="java.util.Map" resultType="java.util.Map" >
		SELECT
			t.id,
			t.user_id,
			t.name,
			t.id_card,
			t.card_photo,
			t.status,
			t.note,
			t.update_by,
			DATE_FORMAT(
				STR_TO_DATE(
					CONCAT(t.cre_date, t.cre_time),
					'%Y%m%d%H%i%s'
				),
				'%Y-%m-%d %H:%i:%s'
			) AS cre_date,
			DATE_FORMAT(
				STR_TO_DATE(
					CONCAT(t.up_date, t.up_time),
					'%Y%m%d%H%i%s'
				),
				'%Y-%m-%d %H:%i:%s'
			) AS up_date,
			t1.sys_user_account,
			t1.uid,
			t1.register_type,
			t1.user_tel,
			t1.user_email,
			t1.nick_name
		FROM
			t_user_real t
		LEFT JOIN t_user_info t1 ON t.user_id = t1.id
		<where>
			<if test="map.user_id != null and map.user_id != ''">
				t.user_id = #{map.user_id}
			</if>
			<if test="map.name != null and map.name != ''">
				AND t.name = #{map.name}
			</if>
			<if test="map.id_card != null and map.id_card != ''">
				AND t.id_card = #{map.id_card}
			</if>
			<if test="map.status != null and map.status != ''">
				AND t.status = #{map.status}
			</if>
			<if test="map.sys_user_account != null and map.sys_user_account != ''">
				AND t1.sys_user_account = #{map.sys_user_account}
			</if>
			<if test="map.uid != null and map.uid != ''">
				AND t1.uid = #{map.uid}
			</if>
			<if test="map.user_tel != null and map.user_tel != ''">
				AND t1.user_tel like concat('%', #{map.user_tel}, '%')
			</if>
			<if test="map.user_email != null and map.user_email != ''">
				AND t1.user_email like concat('%', #{map.user_email}, '%')
			</if>
			<if test="map.register_type != null and map.register_type != ''">
				AND t1.register_type = #{map.register_type}
			</if>
			<!-- 开始时间检索 -->
			<if test="map.beginTime != null and map.beginTime != ''">
				AND t.cre_date &gt;= date_format(#{map.beginTime},'%Y%m%d')
			</if>
			<!-- 结束时间检索 -->
			<if test="map.endTime != null and map.endTime != ''">
				AND t.cre_date &lt;= date_format(#{map.endTime},'%Y%m%d')
			</if>
		</where>
		<!-- 数据范围过滤 -->
		${map.dataScope}
	</select>
	
	
	<!-- 导出 -->
	<select id="selectUserRealList" parameterType="java.util.Map" resultType="com.ruoyi.project.develop.user.domain.UserReal" >
		SELECT
			t.id,
			t.user_id,
			t.name,
			t.id_card,
			t.card_photo,
			t.status,
			t.note,
			t.update_by,
			DATE_FORMAT(
				STR_TO_DATE(
					CONCAT(t.cre_date, t.cre_time),
					'%Y%m%d%H%i%s'
				),
				'%Y-%m-%d %H:%i:%s'
			) AS cre_date,
			DATE_FORMAT(
				STR_TO_DATE(
					CONCAT(t.up_date, t.up_time),
					'%Y%m%d%H%i%s'
				),
				'%Y-%m-%d %H:%i:%s'
			) AS up_date,
			t1.sys_user_account,
			t1.uid,
			t1.register_type,
			t1.user_tel,
			t1.user_email,
			t1.nick_name
		FROM
			t_user_real t
		LEFT JOIN t_user_info t1 ON t.user_id = t1.id
		<where>
			<if test="map.user_id != null and map.user_id != ''">
				t.user_id = #{map.user_id}
			</if>
			<if test="map.name != null and map.name != ''">
				AND t.name = #{map.name}
			</if>
			<if test="map.id_card != null and map.id_card != ''">
				AND t.id_card = #{map.id_card}
			</if>
			<if test="map.status != null and map.status != ''">
				AND t.status = #{map.status}
			</if>
			<if test="map.sys_user_account != null and map.sys_user_account != ''">
				AND t1.sys_user_account = #{map.sys_user_account}
			</if>
			<if test="map.uid != null and map.uid != ''">
				AND t1.uid = #{map.uid}
			</if>
			<if test="map.user_tel != null and map.user_tel != ''">
				AND t1.user_tel like concat('%', #{map.user_tel}, '%')
			</if>
			<if test="map.user_email != null and map.user_email != ''">
				AND t1.user_email like concat('%', #{map.user_email}, '%')
			</if>
			<if test="map.register_type != null and map.register_type != ''">
				AND t1.register_type = #{map.register_type}
			</if>
			<!-- 开始时间检索 -->
			<if test="map.beginTime != null and map.beginTime != ''">
				AND t.cre_date &gt;= date_format(#{map.beginTime},'%Y%m%d')
			</if>
			<!-- 结束时间检索 -->
			<if test="map.endTime != null and map.endTime != ''">
				AND t.cre_date &lt;= date_format(#{map.endTime},'%Y%m%d')
			</if>
		</where>
		<!-- 数据范围过滤 -->
		${map.dataScope}
	</select>
	
	<select id="getUserRealById" parameterType="java.lang.String" resultType="java.util.Map">
		SELECT
			t.id,
			t.user_id,
			t.name,
			t.id_card,
			t.card_photo,
			t.status,
			t.note,
			t.update_by,
			DATE_FORMAT(
				STR_TO_DATE(
					CONCAT(t.cre_date, t.cre_time),
					'%Y%m%d%H%i%s'
				),
				'%Y-%m-%d %H:%i:%s'
			) AS cre_date,
			DATE_FORMAT(
				STR_TO_DATE(
					CONCAT(t.up_date, t.up_time),
					'%Y%m%d%H%i%s'
				),
				'%Y-%m-%d %H:%i:%s'
			) AS up_date
		from t_user_real t
		where t.id = #{id}
	</select>
	
	<update id="checkUserAgentInfo" parameterType="java.util.Map">
		update t_user_real
		   set status = #{map.status},
		       note = #{map.note},
		       up_date = #{map.up_date},
		       up_time = #{map.up_time},
		       update_by = #{map.update_by}
		where id = #{map.id}
	</update>
	
	<update id="updateUserAuthStatus" parameterType="java.util.Map">
		update t_user_info
		   set auth_status = #{map.auth_status},
		   	   <if test="map.nick_name != null and map.nick_name != ''">
		   	   	nick_name = #{map.nick_name},
		   	   	real_name = #{map.real_name},
		   	   </if>
		       up_date = #{map.up_date},
		       up_time = #{map.up_time}
		  where id = #{map.user_id}
	</update>
	
</mapper>