<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('用户流水类型总汇总列表')" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
</head>
<body class="gray-bg">
	
	<!-- 系统参数列表 -->
	<div class="container-div ui-layout-center">
		<div class="row">
			
			<!-- 最上面的搜索框 -->
			<div class="col-sm-12 search-collapse">
				<form id="user-form">
					<div class="select-list">
						<ul>
							<li>
								账号：<input type="text" name="sys_user_account"/>
							</li>
							<li>
								UID：<input type="text" name="uid"/>
							</li>
							<li>
								手机号：<input type="text" name="user_tel"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
			
			<!-- 上面的各项增删改查导入导出操作 -->
	        <div class="btn-group-sm" id="toolbar" role="group">
		        <!-- 表格：导出数据 -->
	            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="develop:summaryUserBenefitAll:export">
		            <i class="fa fa-download"></i> 导出
		        </a>
	        </div>

	        
	        <!-- bootstrap表格数据部分 -->
	        <div class="col-sm-12 select-table table-bordered">
			    <table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
			
		</div>
	</div>
	
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
		//前缀路径
		var prefix = "/develop/summaryUserBenefitAll";
		
		//初始化方法
		$(function() {
		   	//查询用户流水类型总汇总列表
		    querySummaryUserBenefitAllList();
		});

		
		//查询用户流水类型总汇总列表
		function querySummaryUserBenefitAllList() {
		    var options = {
		        url: prefix + "/list",//URL列表路径
		        exportUrl: prefix + "/export",//导出路径
		        modalName: "用户流水类型总汇总",//模块名称：用户
		        showExport: true,
		      	//列信息
		        columns: [
	        	[
	        		{
		        		title : '编号',
		        		align : 'center',
		        		colspan : 1
	        		}, 
	        		{
		        		title : '用户信息',
		        		align : 'center',
		        		colspan : 3
	        		}, 
	        		{
		        		title : '余额',
		        		align : 'center',
		        		colspan : 11
	        		},
	        	],	
		        [	
		        	{
						field : 'id', 
						title : '编号',
						sortable: true
					},
					{
						field : 'user_id', 
						title : '用户编号',
						formatter: function(value, row, index) {
							return '<a href="javascript:void(0)" onclick="$.operate.detailUser(\'' + row.user_id + '\')">' + value + '</a>';
			            }
					},
					{
						field : 'sys_user_account', 
						title : '用户账号',
						formatter: function(value, row, index) {
							return '<a href="javascript:void(0)" onclick="$.operate.detailUser(\'' + row.user_id + '\')">' + value + '</a>';
			            }
					},
					{
						field : 'uid', 
						title : 'UID',
						formatter: function(value, row, index) {
							return '<a href="javascript:void(0)" onclick="$.operate.detailUser(\'' + row.user_id + '\')">' + value + '</a>';
			            }
					},
					{
						field : 'balance_type_01', 
						title : '充值'
					},
					{
						field : 'balance_type_02', 
						title : '理财'
					},
					{
						field : 'balance_type_03', 
						title : '拨款'
					},
					{
						field : 'balance_type_04', 
						title : '扣款'
					},
					{
						field : 'balance_type_07', 
						title : '提现'
					},
					{
						field : 'balance_type_08', 
						title : '签到'
					},
					{
						field : 'balance_type_09', 
						title : '分享'
					},
					{
						field : 'balance_type_10', 
						title : '分段'
					},
					{
						field : 'balance_type_11', 
						title : '转出'
					},
					{
						field : 'balance_type_12', 
						title : '转入'
					},
					{
						field : 'balance_type_13', 
						title : '年度'
					},
					]
		    	]	
		    };
		    //表格初始化
		    $.table.init(options);
		}
	</script>
</body>
</html>