<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增川军渠道')" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
	<form class="form-horizontal m" id="form-sysCjBankcode-add">
		
		<div class="form-group">
            <label class="col-sm-1 control-label">渠道类型：</label>
            <div class="col-sm-10">
                <div class="input-group" style="width: 100%">
             		<select name="type" class="form-control m-b" th:with="type=${@dict.getType('cj_bankcode_type')}">
            			<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
        			</select>
                </div>
            </div>
        </div>
		
		<div class="form-group">
			<label class="col-sm-1 control-label">标题：</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" name="title" id="title" >
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-1 control-label">渠道编码：</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" name="bankcode" id="bankcode" >
			</div>
		</div>
		
	</form>
</div>

<div class="row">
	<div class="col-sm-offset-5 col-sm-10">
	    <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
	    <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
	</div>
</div>



<th:block th:include="include :: footer" />

<script th:inline="javascript">
var img_url_array = new Array();

$("#form-sysCjBankcode-add").validate({
	rules:{
		type:{
			required:true
		},
      	title: {
	        required: true
      	},
      	bankcode: {
	        required: true
      	}
	},
	messages: {
		img_type: {
            required: "请选择渠道类型"
        },
        title: {
            required: "请输入标题"
        },
        bankcode: {
	        required: "请输入渠道编码"
      	}
 	},
	focusCleanup: true
});


function submitHandler() {
	if ($.validate.form()) {
		$.operate.saveTab("/develop/sysCjBankcode/add", $('#form-sysCjBankcode-add').serialize());
   	}
}

</script>
</body>
</html>
