<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('编辑川军渠道')" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
	<th:block th:include="include :: bootstrap-fileinput-css" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
	<form class="form-horizontal m" id="form-sysCjBankcode-edit">
		
		<input type="hidden" id="cjBankcode_id" name="cjBankcode_id" th:value="${cjBankcode.id}" readonly="readonly" >
				
		<div class="form-group">
			<label class="col-sm-1 control-label">标题：</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" name="title" id="title" th:value="${cjBankcode.title}">
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-1 control-label">渠道编码：</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" name="bankcode" id="bankcode" th:value="${cjBankcode.bankcode}">
			</div>
		</div>
		
	</form>
	
</div>

<div class="row">
	<div class="col-sm-offset-5 col-sm-10">
	    <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
	    <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
	</div>
</div>



<th:block th:include="include :: footer" />
<th:block th:include="include :: bootstrap-fileinput-js" />

<script th:inline="javascript">

$("#form-sysCjBankcode-edit").validate({
	rules:{
      	title: {
	        required: true
      	},
      	bankcode: {
	        required: true
      	}
	},
	messages: {
        title: {
            required: "请输入标题"
        },
        bankcode: {
	        required: "请输入渠道编码"
      	}
 	},
	focusCleanup: true
});


function submitHandler() {
	if ($.validate.form()) {
		$.operate.saveTab("/develop/sysCjBankcode/edit", $('#form-sysCjBankcode-edit').serialize());
   	}
}

</script>
</body>
</html>
