<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('刺客余额充值')" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
</head>
<body class="gray-bg">
	
	<!-- 系统参数列表 -->
	<div class="container-div ui-layout-center">
		<div class="row">
			
			<!-- 最上面的搜索框 -->
			<div class="col-sm-12 search-collapse">
				<form id="user-form">
					<div class="select-list">
						<ul>
							<li>
								商户单号：<input type="text" name="order_no" id="order_no" />
							</li>
							<li>
								充值单号：<input type="text" name="sys_order_no" id="sys_order_no" />
							</li>
							<li>
								账号：<input type="text" name="sys_user_account" />
							</li>
							<li>
								UID：<input type="text" name="uid"/>
							</li>
							<li>
								支付状态：
								<select name="status" id="status" th:with="type=${@dict.getType('user_order_info_pay_status')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li class="select-time">
								<label>创建时间： </label>
								<input type="text" class="time-input" id="startTime" placeholder="开始时间" name="beginTime"/>
								<span>-</span>
								<input type="text" class="time-input" id="endTime" placeholder="结束时间" name="endTime"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="searchTable();"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
			
			<!-- 上面的各项增删改查导入导出操作 -->
	        <div class="btn-group-sm" id="toolbar" role="group">
		        <!-- 表格：导出数据 -->
	        </div>

	        
	        <!-- bootstrap表格数据部分 -->
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
			
		</div>
	</div>
	
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
		//数据字典
		var datas_status = [[${@dict.getType('user_order_info_pay_status')}]];
		
	
		//前缀路径
		var prefix = "/develop/userTradeCike";
		
		//初始化方法
		$(function() {
		   	//查询用户订单退款列表
		    queryUserTradeCikeList();
		});

		
		//查询用户订单退款列表
		function queryUserTradeCikeList() {
		    var options = {
		        url: prefix + "/list",//URL列表路径
		        exportUrl: prefix + "/export",//导出路径
		        modalName: "刺客交易",//模块名称：用户
		        showFooter: true,
		        showExport: true,
		        sortName: 'id',
	          	sortOrder: 'desc',
		        //列信息
		        columns: [{
		            checkbox: true
		        },
		        {
					field : 'id', 
					title : '编号',
					sortable: true
				},
				{
					field : 'sys_user_account', 
					title : '编号/账号/UID',
					formatter: function(value, row, index) {
						return '<a href="javascript:void(0)" onclick="$.operate.detailUser(\'' + row.user_id + '\')">' + row.user_id + '</a>'
								+ '<br><a href="javascript:void(0)" onclick="$.operate.detailUser(\'' + row.user_id + '\')">' + row.sys_user_account + '</a>'
								+'<br><a href="javascript:void(0)" onclick="$.operate.detailUser(\'' + row.user_id + '\')">' + row.uid + '</a>'
		            }
				},
				{
					field : 'order_no', 
					title : '商户单号'
				},
				{
					field : 'sys_order_no', 
					title : '充值单号'
				},
				{
					field : 'pay_type', 
					title : '渠道编码'
				},
				{
					field : 'money', 
					title : '充值金额'
				},
				{
					field : 'pay_datetime', 
					title : '交易时间'
				},
				{
					field : 'status', 
					title : '支付状态',
					align: 'center',
		            formatter: function(value, row, index) {
		            	return $.table.selectDictLabel(datas_status, value);
		            }
				},
				{
					field : 'cre_date', 
					title : '创建时间',
					sortable: true
				},
				{
					field : 'up_date', 
					title : '更新时间',
					sortable: true
				}]
		    };
		    //表格初始化
		    $.table.init(options);
		}
		
		
		//自定义搜索事件
		function searchTable(){
			$.table.search();
		}

	</script>
</body>
</html>