<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增角色')" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
	<th:block th:include="include :: ztree-css" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		
		<form class="form-horizontal m" id="form-role-add">
			
			<!-- 角色名称 -->
			<div class="form-group">
				<label class="col-sm-3 control-label ">角色名称：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="roleName" id="roleName" required>
				</div>
			</div>
			
			<!-- 权限字符 -->
			<div class="form-group">
				<label class="col-sm-3 control-label">权限字符：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="roleKey" id="roleKey" required>
				</div>
			</div>
			
			<!-- 显示顺序 -->
			<div class="form-group">
				<label class="col-sm-3 control-label">显示顺序：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="roleSort" id="roleSort" required>
				</div>
			</div>
			
			<!-- 状态 -->
			<div class="form-group">
				<label class="col-sm-3 control-label">状态：</label>
				<div class="col-sm-8">
			        <label class="toggle-switch switch-solid">
                        <input type="checkbox" id="status" checked>
                        <span></span>
                    </label>
				</div>
			</div>
			
			<!-- 备注 -->
			<div class="form-group">
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<input id="remark" name="remark" class="form-control" type="text">
				</div>
			</div>
			
			<!-- 菜单权限====》树图 -->
			<div class="form-group">
				<label class="col-sm-3 control-label">菜单权限</label>
				<div class="col-sm-8">
					<div id="menuTrees" class="ztree"></div>
				</div>
			</div>
			
		</form>
	</div>
	
	
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: ztree-js" />
	
	<script type="text/javascript">
	    //初始化加载角色菜单列表树
		$(function() {
			var url = ctx + "system/menu/roleMenuTreeData";
			var options = {
				id: "menuTrees",
		        url: url,//URL列表路径
		        check: { enable: true },
		        expandLevel: 0//扩展级别
		    };
			//树初始化
			$.tree.init(options);
		});
		
	    
	  	/*角色基本信息校验 */
		$("#form-role-add").validate({
			rules:{
				onkeyup: false,
				/* 角色名称校验：角色名称唯一 */
				roleName:{
					remote: {
		                url: ctx + "system/role/checkRoleNameUnique",
		                type: "post",
		                dataType: "json",
		                data: {
		                	"roleName" : function() {
		                		return $.common.trim($("#roleName").val());
		                    }
		                },
		                dataFilter: function(data, type) {
		                	return $.validate.unique(data);
		                }
		            }
				},
				/* 权限字符校验：权限字符唯一 */
				roleKey:{
					remote: {
		                url: ctx + "system/role/checkRoleKeyUnique",
		                type: "post",
		                dataType: "json",
		                data: {
		                	"roleName" : function() {
		                        return $.common.trim($("#roleName").val());
		                    }
		                },
		                dataFilter: function(data, type) {
		                	return $.validate.unique(data);
		                }
		            }
				},
				/* 角色排序校验 */
				roleSort:{
					digits:true
				},
			},
			messages: {
		        "roleName": {
		            remote: "角色名称已经存在"
		        },
		        "roleKey": {
		            remote: "角色权限已经存在"
		        }
		    },
		    focusCleanup: true
		});
		
	  	
	  	//保存提交
		function submitHandler() {
	  		//校验通过
	        if ($.validate.form()) {
	        	//添加角色
	        	add();
	        }
	    }
	
	  	
	  	//添加角色
		function add() {
	  		//角色名称
			var roleName = $("input[name='roleName']").val();
	  		//权限字符
			var roleKey = $("input[name='roleKey']").val();
	  		//角色排序
			var roleSort = $("input[name='roleSort']").val();
			//如果status选中则为0，否则为1
			var status = $("input[id='status']").is(':checked') == true ? 0 : 1;
			//备注
			var remark = $("input[name='remark']").val();
			//获取当前被勾选集合
			var menuIds = $.tree.getCheckedNodes();
			$.ajax({
				cache : true,
				type : "POST",
				url : ctx + "system/role/add",
				data : {
					"roleName": roleName,
					"roleKey": roleKey,
					"roleSort": roleSort,
					"status": status,
					"remark": remark,
					"menuIds": menuIds
				},
				async : false,
				error : function(request) {
					$.modal.alertError("系统错误");
				},
				success : function(data) {
					$.operate.successCallback(data);
				}
			});
		}
	</script>
</body>
</html>
