<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('验证码发送信息')" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
</head>
<body class="gray-bg">
	
	<!-- 系统参数列表 -->
	<div class="container-div ui-layout-center">
		<div class="row">
		
			<!-- 最上面的搜索框 -->
			<div class="col-sm-12 search-collapse">
				<form id="user-form">
					<div class="select-list">
						<ul>
							<li>
								用户账号：<input type="text" name="user_name"/>
							</li>
							<li>
								接收类型：
								<select name="status" th:with="type=${@dict.getType('user_info_register_type')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li>
								接收账号：<input type="text" name="account"/>
							</li>
							<li>
								短信模板/发送邮箱：<input type="text" name="msg_template"/>
							</li>
							<li>
								业务类型：
								<select name="bus_type" th:with="type=${@dict.getType('verify_code_bus_type')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li>
								验证状态：
								<select name="status" th:with="type=${@dict.getType('verify_code_status')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li class="select-time">
								<label>创建时间： </label>
								<input type="text" class="time-input" id="startTime" placeholder="开始时间" name="beginTime"/>
								<span>-</span>
								<input type="text" class="time-input" id="endTime" placeholder="结束时间" name="endTime"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
		
			
			<!-- 上面的各项增删改查导入导出操作 -->
	        <div class="btn-group-sm" id="toolbar" role="group">
		        <!-- 表格：导出数据 -->
	            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="develop:verifyCode:export">
		            <i class="fa fa-download"></i> 导出
		        </a>
	        </div>

	        
	        <!-- bootstrap表格数据部分 -->
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
			
		</div>
	</div>
	
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
		//数据字典
		var datas_bus_type = [[${@dict.getType('verify_code_bus_type')}]];
		var datas_acc_type = [[${@dict.getType('user_info_register_type')}]];
		var datas_status = [[${@dict.getType('verify_code_status')}]];
		
		//前缀路径
		var prefix = "/develop/verifyCode";
		
		//初始化方法
		$(function() {
			//实时查询验证码发送信息
		    queryVerifyCodeList();
		});

		
		//实时查询验证码发送信息
		function queryVerifyCodeList() {
		    var options = {
		        url: prefix + "/list",//URL列表路径
		        exportUrl: prefix + "/export",//导出路径
		        modalName: "验证码发送信息",//模块名称：用户
		        showExport: true,
		        //列信息
		        columns: [{
		            checkbox: true
		        },
		        {
					field : 'id', 
					title : '编号',
					sortable: true
				},
				{
					field : 'msg_template', 
					title : '短信模板/发送邮箱'
				},
				{
					field : 'user_id', 
					title : '用户编号'
				},
				{
					field : 'user_name', 
					title : '账号'
				},
				{
					field : 'bus_type', 
					title : '业务类型',
					align: 'center',
		            formatter: function(value, row, index) {
		            	return $.table.selectDictLabel(datas_bus_type, value);
		            }
				},
				{
					field : 'acc_type', 
					title : '接收类型',
					align: 'center',
		            formatter: function(value, row, index) {
		            	return $.table.selectDictLabel(datas_acc_type, value);
		            }
				},
				{
					field : 'account', 
					title : '接收账号'
				},
				{
					field : 'status', 
					title : '状态',
					align: 'center',
		            formatter: function(value, row, index) {
		            	return $.table.selectDictLabel(datas_status, value);
		            }
				},
				{
					field : 'create_time', 
					title : '发送时间',
					sortable: true
				},
				{
					field : 'invalid_time', 
					title : '有效时间',
					sortable: true
				},
				{
					field : 'verify_time', 
					title : '验证时间',
					sortable: true
				}]
		    };
		    //表格初始化
		    $.table.init(options);
		}
	</script>
</body>
</html>