<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('用户静态收益列表')" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
</head>
<body class="gray-bg">
	
	<!-- 系统参数列表 -->
	<div class="container-div ui-layout-center">
		<div class="row">
			
			<!-- 最上面的搜索框 -->
			<div class="col-sm-12 search-collapse">
				<form id="user-form">
					<div class="select-list">
						<ul>
							<input type="hidden" id="cash_id" name="cash_id" th:value="${cash_id}">
							<li class="select-time">
								<label>创建时间： </label>
								<input type="text" class="time-input" id="startTime" placeholder="开始时间" name="beginTime"/>
								<span>-</span>
								<input type="text" class="time-input" id="endTime" placeholder="结束时间" name="endTime"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
			
			<!-- 上面的各项增删改查导入导出操作 -->
	        <div class="btn-group-sm" id="toolbar" role="group">
	        </div>

	        
	        <!-- bootstrap表格数据部分 -->
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
			
		</div>
	</div>
	
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
		//数据字典
		var datas_cash_detail_status = [[${@dict.getType('user_cash_record_cash_status')}]];
	
		//前缀路径
		var prefix = "/develop/userCash";
		
		//初始化方法
		$(function() {
			//查询用户取现记录详情列表
		    queryUserCashDetailRecordList();
		});

		
		//查询用户取现记录详情列表
		function queryUserCashDetailRecordList () {
		    var options = {
		        url: prefix + "/detailList",//URL列表路径
		        modalName: "用户取现记录详情",//模块名称：用户
		        showExport: true,
		        queryParams: queryParams,
		        sortName: 'id',
	          	sortOrder: 'desc',
		        //列信息
		        columns: [{
		            checkbox: true
		        },
		        {
					field : 'id', 
					title : '编号',
					sortable: true
				},
				 {
					field : 'cash_id', 
					title : '取现编号'
				},
				{
					field : 'cash_detail_status', 
					title : '取现状态',
					align: 'center',
		            formatter: function(value, row, index) {
		            	return $.table.selectDictLabel(datas_cash_detail_status, value);
		            }
				},
				{
					field : 'note', 
					title : '备注',
					align: 'center',
				  	formatter: function(value, row, index) {
				      	return $.table.tooltip(value);
				  	}
				},
				{
					field : 'remark', 
					title : '操作备注',
					align: 'center',
				  	formatter: function(value, row, index) {
				      	return $.table.tooltip(value);
				  	}
				},
				{
					field : 'cre_date', 
					title : '创建时间',
					sortable: true
				},
				{
					field : 'create_by', 
					title : '创建人'
				}]
		    };
		    //表格初始化
		    $.table.init(options);
		}
		
		
		//参数处理
		function queryParams(params) {
			var search = $.table.queryParams(params);
			search.cash_id = $('#cash_id').val();//选中的值
			return search;
		}
	</script>
</body>
</html>