<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改用户')" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
	<th:block th:include="include :: select2-css" />
</head>
<body>
    <div class="form-content">
        
        <form class="form-horizontal" id="form-user-edit" th:object="${user}">
            <!-- 用户id -->
            <input name="userId"  type="hidden"  th:field="*{userId}" />
            <!-- 部门id -->
			<input name="deptId"  type="hidden"  th:field="*{deptId}" id="treeId"/>
			
            <h4 class="form-header h4">基本信息</h4>
            
            <div class="row">
            	<!-- 用户名称 -->
            	<div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><span style="color: red; ">*</span>用户名称：</label>
                        <div class="col-sm-8">
                            <input name="userName" placeholder="请输入用户名称" class="form-control" type="text" maxlength="30" th:field="*{userName}" required>
                        </div>
                    </div>
                </div>
                <!-- 归属部门 -->
<!--                 <div class="col-sm-6"> -->
<!--                     <div class="form-group"> -->
<!--                         <label class="col-sm-4 control-label"><span style="color: red; ">*</span>归属部门：</label> -->
<!--                         <div class="col-sm-8"> -->
<!--                             <div class="input-group"> -->
<!--                                 <input class="form-control" type="text" name="deptName" onclick="selectDeptTree()" id="treeName" th:field="*{dept.deptName}" required> -->
<!--                             	<span class="input-group-addon"><i class="fa fa-search"></i></span> -->
<!--                             </div> -->
<!--                         </div> -->
<!--                     </div> -->
<!--                 </div> -->
            </div>
            
            <div class="row">
            	<!-- 手机号码 -->
<!--                 <div class="col-sm-6"> -->
<!--                     <div class="form-group"> -->
<!--                         <label class="col-sm-4 control-label"><span style="color: red; ">*</span>手机号码：</label> -->
<!--                         <div class="col-sm-8"> -->
<!--                             <input name="phonenumber" placeholder="请输入手机号码" class="form-control" type="text" maxlength="11" th:field="*{phonenumber}" readonly="readonly" required> -->
<!--                         </div> -->
<!--                     </div> -->
<!--                 </div> -->
                <!--  邮箱 -->
<!--                 <div class="col-sm-6"> -->
<!--                     <div class="form-group"> -->
<!--                         <label class="col-sm-4 control-label"><span style="color: red; ">*</span>邮箱：</label> -->
<!--                         <div class="col-sm-8"> -->
<!--                             <input name="email" class="form-control email" type="text" maxlength="50" placeholder="请输入邮箱" th:field="*{email}" required> -->
<!--                         </div> -->
<!--                     </div> -->
<!--                 </div> -->
            </div>
            
            <div class="row">
            	<!-- 登录账号 -->
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><span style="color: red; ">*</span>登录账号：</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" readonly="true" th:field="*{loginName}"/>
                        </div>
                    </div>
                </div>
           </div>
            
            <div class="row">
                <!-- 用户状态 ====》切换开关，绑定状态 -->
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">用户状态：</label>
                        <div class="col-sm-8">
                            <label class="toggle-switch switch-solid">
	                            <input type="checkbox" id="status" th:checked="${user.status == '0' ? true : false}">
	                            <span></span>
	                        </label>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
            	<!-- 岗位 -->
<!--                 <div class="col-sm-6"> -->
<!--                     <div class="form-group"> -->
<!--                         <label class="col-sm-4 control-label">岗位：</label> -->
<!--                         <div class="col-sm-8"> -->
<!--                         	flag：用户是否存在此岗位标识 默认不存在 -->
<!--                             <select id="post" class="form-control select2-multiple" multiple> -->
<!-- 								<option th:each="post:${posts}" th:value="${post.postId}" th:text="${post.postName}" th:selected="${post.flag}" th:disabled="${post.status == '1'}"></option> -->
<!-- 							</select> -->
<!--                         </div> -->
<!--                     </div> -->
<!--                 </div> -->
               <!--  用户性别 -->
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">用户性别：</label>
                        <div class="col-sm-8">
                            <div class="input-group" style="width: 100%">
                               <select name="sex" class="form-control m-b" th:with="type=${@dict.getType('sys_user_sex')}">
				                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{sex}"></option>
				                </select>
                            </div>
                        </div>
                    </div>
                </div>
                
                </div>
            
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">会员编号：</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" th:field="*{memberId}" name="memberId"/>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
            	<!-- 角色 -->
            	<div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-xs-2 control-label">角色：</label>
                        <div class="col-xs-10">
                            <label th:each="role:${roles}" class="check-box">
                            	<!-- flag：用户是否存在此角色标识 默认不存在 -->
								<input name="role" type="checkbox" th:value="${role.roleId}" th:text="${role.roleName}" th:checked="${role.flag}" th:disabled="${role.status == '1'}">
							</label>
                        </div>
                    </div>
                </div>
            </div>
            
            <h4 class="form-header h4">其他信息</h4>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-xs-2 control-label">备注：</label>
                        <div class="col-xs-10">
                            <textarea name="remark" maxlength="500" class="form-control" rows="3">[[*{remark}]]</textarea>
                        </div>
                    </div>
                </div>
            </div>
            
        </form>
    </div>
    
    <!-- 操作按钮 -->
    <div class="row">
        <div class="col-sm-offset-5 col-sm-10">
            <!-- 保存按钮 -->
            <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
           	<!-- 关闭按钮 -->
            <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
        </div>
    </div>
    
    
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: select2-js" />
	
	<script type="text/javascript">
        var prefix = ctx + "system/user";
        
        /* 保存提交 */
        function submitHandler() {
        	//校验通过
	        if ($.validate.form()) {
	        	//表单数据序列化
	        	var data = $("#form-user-edit").serializeArray();
	        	//如果status选中则为0，否则为1
	        	var status = $("input[id='status']").is(':checked') == true ? 0 : 1;
	        	// 获取选中角色复选框项，多个逗号拼接
	        	var roleIds = $.form.selectCheckeds("role");
	        	// 获取选中职位下拉框项，多个逗号拼接
// 	        	var postIds = $.form.selectSelects("post");
	        	//重新塞值
	        	data.push({"name": "status", "value": status});//状态
	        	data.push({"name": "roleIds", "value": roleIds});//角色
// 	        	data.push({"name": "postIds", "value": postIds});//岗位
	        	$.operate.saveTab(prefix + "/edit", data);
	        }
	    }

        
        /*用户管理-新增-选择部门树======》弹出部门树页面*/
        /*function selectDeptTree() {
        	//树id=部门id
        	var deptId = $.common.isEmpty($("#treeId").val()) ? "100" : $("#treeId").val();
        	//树id是否为空
        	var url = ctx + "system/dept/selectDeptTree/" + deptId;
		    var options = {
				title: '选择部门',
				width: "380",
				url: url,
				callBack: doSubmit
			};
			$.modal.openOptions(options);
		}*/
		
      	//回调结果
		function doSubmit(index, layero){
			var tree = layero.find("iframe")[0].contentWindow.$._tree;
			if ($.tree.notAllowParents(tree)) {
    			var body = layer.getChildFrame('body', index);
    			$("#treeId").val(body.find('#treeId').val());
    			$("#treeName").val(body.find('#treeName').val());
    			layer.close(index);
			}
		}
    </script>
</body>
</html>