<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('收货地址列表')" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
</head>
<body class="gray-bg">
	
	<!-- 系统参数列表 -->
	<div class="container-div ui-layout-center">
		<div class="row">
			
			<!-- 最上面的搜索框 -->
			<div class="col-sm-12 search-collapse">
				<form id="user-form">
					<div class="select-list">
						<ul>
							<li>
								
								订单号：<input type="text" name="order_id" id="order_id" />
							</li>
							<li>
								账号：<input type="text" name="sys_user_account" id="sys_user_account" />
							</li>
							<li>
								UID：<input type="text" name="uid" id="uid" />
							</li>
							<!-- <li>
								手机号：<input type="text" name="user_tel" id="user_tel" />
							</li> -->
							<li>
								充值渠道：
								<select name="recharge_type" id="recharge_type" th:with="type=${@dict.getType('user_recharge_record_recharge_type')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li>
								充值账户：
								<select name="account_type" id="account_type" th:with="type=${@dict.getType('user_recharge_record_account_type')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li>
								充值状态：
								<select name="status" id="status" th:with="type=${@dict.getType('user_recharge_record_status')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li class="select-time">
								<label>创建时间： </label>
								<input type="text" class="time-input" id="startTime" placeholder="开始时间" name="beginTime"/>
								<span>-</span>
								<input type="text" class="time-input" id="endTime" placeholder="结束时间" name="endTime"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="searchTable()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
			
			<!-- 上面的各项增删改查导入导出操作 -->
	        <div class="btn-group-sm" id="toolbar" role="group">
	            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="develop:userRechargeOffline:export">
		            <i class="fa fa-download"></i> 导出
		        </a>
		        <a class="btn btn-success" onclick="$.operate.sysAuditCashAll('09');" shiro:hasPermission="develop:userRechargeOffline:sysAudit">
		            <i class="fa fa-book"></i> 充值成功
		        </a>
	            <a class="btn btn-primary" onclick="$.operate.sysAuditCashAll('08');" shiro:hasPermission="develop:userRechargeOffline:sysAudit">
		            <i class="fa fa-remove"></i> 充值失败
		        </a>
	        </div>

	        
	        <!-- bootstrap表格数据部分 -->
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
			
		</div>
	</div>
	
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
		var sysAuditFlag = [[${@permission.hasPermi('develop:userRechargeOffline:sysAudit')}]];
	
		//数据字典
		var datas_recharge_type = [[${@dict.getType('user_recharge_record_recharge_type')}]];
		var datas_account_type = [[${@dict.getType('user_recharge_record_account_type')}]];
		var datas_status = [[${@dict.getType('user_recharge_record_status')}]];
		
		//前缀路径
		var prefix = "/develop/userRechargeOffline";
		
		//初始化方法
		$(function() {
		   	//查询用户充值记录列表
		    queryUserRechargeOfflineList();
		  	//汇总数据
		    setTimeout("summaryUserRechargeOfflineList()","1000");
		});

		
		//查询用户余额充值记录列表
		function queryUserRechargeOfflineList() {
		    var options = {
		        url: prefix + "/list",//URL列表路径
		        modalName: "线下充值",//模块名称：用户
		        sysAuthOperUrl: prefix + "/sysAudit/{id}",//详情路径
		        showFooter: true,
		        showExport: true,
		        sortName: 'id',
	          	sortOrder: 'desc',
		        //列信息
		        columns: [{
		            checkbox: true
		        },
		        {
					field : 'id', 
					title : '编号',
					sortable: true
				},
		        {
					field : 'sys_user_account', 
					title : '编号/账号/UID',
					formatter: function(value, row, index) {
						return '<a href="javascript:void(0)" onclick="$.operate.detailUser(\'' + row.user_id + '\')">' + row.user_id + '</a>'
								+ '<br><a href="javascript:void(0)" onclick="$.operate.detailUser(\'' + row.user_id + '\')">' + row.sys_user_account + '</a>'
								+'<br><a href="javascript:void(0)" onclick="$.operate.detailUser(\'' + row.user_id + '\')">' + row.uid + '</a>'
		            }
				},
				{
					field : 'order_id', 
					title : '订单号'
				},
				{
					field : 'recharge_num', 
					title : '充值数量',
					footerFormatter:function (value) {
				        return "<span id='sum_recharge_num'>充值总额：0.00<span>";
				    }
				},
				{
					field : 'recharge_type', 
					title : '充值渠道',
					align: 'center',
		            formatter: function(value, row, index) {
		            	return $.table.selectDictLabel(datas_recharge_type, value);
		            }
				},
				{
					field : 'account_type', 
					title : '充值账户',
					align: 'center',
		            formatter: function(value, row, index) {
		            	return $.table.selectDictLabel(datas_account_type, value);
		            }
				},
				{
					field : 'status', 
					title : '充值状态',
					align: 'center',
		            formatter: function(value, row, index) {
		            	return $.table.selectDictLabel(datas_status, value);
		            }
				},
				{
					field : 'recharge_voucher', 
					title : '充值凭证',
					formatter: function(value, row, index) {
						return $.table.imageView(qiniu_domain+value,400,400);
					}
				},
				{
					field : 'remark', 
					title : '操作备注',
					align: 'center',
				  	formatter: function(value, row, index) {
				      	return $.table.tooltip(value);
				  	}
				},
				{
					field : 'cre_date', 
					title : '创建时间',
					sortable: true
				},
				{
					field : 'up_date', 
					title : '更新时间',
					sortable: true
				},
				{
					field : 'update_by', 
					title : '更新人'
				},
				{
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	//事件数组
		                var actions = [];
		            	//编辑按钮：修改信息，以tab页展现
		            	if(row.status=='04'){
		            		actions.push('<a class="btn btn-success btn-xs ' + sysAuditFlag + '" href="#" onclick="$.operate.sysAuditCash(\'' + row.id + '\',\'09\')"><i class="fa fa-book"></i>成功</a> ');
		            		actions.push('<a class="btn btn-danger btn-xs ' + sysAuditFlag + '" href="#" onclick="$.operate.sysAuditCash(\'' + row.id + '\',\'08\')"><i class="fa fa-remove"></i>失败</a> ');
		            	}
		                return actions.join('');
		            }
		        }]
		    };
		    //表格初始化
		    $.table.init(options);
		}
		
		
		//自定义搜索事件
		function searchTable(){
			$.table.search();
			//汇总数据
		    setTimeout("summaryUserRechargeOfflineList()","1000"); 
		}

		
		//汇总数据统计
		function summaryUserRechargeOfflineList(){
			$.ajax({
				url:"/develop/userRechargeOffline/summaryUserRechargeOfflineList",
				type:"post",
				dataType:"json",
				data:{
					'order_id' : $("#order_id").val(),
					'sys_user_account' : $("#sys_user_account").val(),
					'uid' : $("#uid").val(),
					'recharge_type' : $("#recharge_type").val(),
					'account_type' : $("#account_type").val(),
					'status' : $("#status").val(),
					'beginTime' : $("#startTime").val(),
					'endTime' : $("#endTime").val()
				},
				success:function(data){
					$("#sum_recharge_num").html("充值总额："+data.sum_recharge_num);
				},
				error:function(){
					alert("error");
				}
			});
		}
		
		//初始化参数信息
		function initParam(){
			if(params!=null && params!=''){
				var status = params.status;
				var recharge_type = params.recharge_type;
				$("#status").find("option[value='"+status+"']").attr("selected",true);
			}
		}
		
	</script>
</body>
</html>