<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('商品列表')" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
</head>
<body class="gray-bg">
	
	<!-- 系统参数列表 -->
	<div class="container-div ui-layout-center">
		<div class="row">
			
			<!-- 最上面的搜索框 -->
			<div class="col-sm-12 search-collapse">
				<form id="user-form">
					<div class="select-list">
						<ul>
							<li>
								<input type="hidden" name="del_status" value="1" />
								<input type="hidden" name="mall_type" value="01" />
								商品名称：<input type="text" name="goods_name"/>
							</li>
							<li class="select-time">
								<label>创建时间： </label>
								<input type="text" class="time-input" id="startTime" placeholder="开始时间" name="beginTime"/>
								<span>-</span>
								<input type="text" class="time-input" id="endTime" placeholder="结束时间" name="endTime"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
			
			<!-- 上面的各项增删改查导入导出操作 -->
	        <div class="btn-group-sm" id="toolbar" role="group">
	        	<!-- 表格：导出数据 -->
	            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="develop:sysProduct:export">
		            <i class="fa fa-download"></i> 导出
		        </a>
		         <!-- 表格：批量删除 -->
	            <a class="btn btn-danger" onclick="$.operate.sysDelAll('0');" shiro:hasPermission="develop:sysProduct:sysDel">
		            <i class="fa fa-mail-reply"></i> 还原
		        </a>
	        </div>

	        
	        <!-- bootstrap表格数据部分 -->
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
			
		</div>
	</div>
	
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
		//删除
		var sysDelFlag = [[${@permission.hasPermi('develop:sysProduct:sysDel')}]];
		//详情
		var detailFlag = [[${@permission.hasPermi('develop:sysProduct:detail')}]];
		
		
		//数据字典
		var datas_goods_status = [[${@dict.getType('goods_info_goods_status')}]];
		var datas_grade = [[${@dict.getType('user_info_grade')}]];

	
		//前缀路径
		var prefix = "/develop/sysProduct";
		
		//初始化方法
		$(function() {
		   	//查询商品信息列表
		    querySysProductList();
		});

		
		//查询商品信息列表
		function querySysProductList() {
		    var options = {
		        url: prefix + "/list",//URL列表路径
		        exportUrl: prefix + "/export",//导出路径
		        sysAuthDelUrl: prefix + "/sysDel/{id}",//删除
		        parentUserUrl: prefix + "/listDetail/{id}",//商品明细
		        modalName: "回收站信息",//模块名称：用户
		        showExport: true,
		        sortName: 'id',
	          	sortOrder: 'desc',
		        //列信息
		        columns: [{
		            checkbox: true
		        },
		        {
					field : 'id', 
					title : '编号',
					sortable: true,
					formatter: function(value, row, index) {
						return '<a href="javascript:void(0)" onclick="$.operate.detailGoods(\'' + row.id + '\')">' + value + '</a>';
		            }
				},
				{
					field : 'goods_show', 
					title : '展示图',
					formatter: function(value, row, index) {
						return $.table.imageView(qiniu_domain+value);
					}
				},
				{
					field : 'grade', 
					title : '等级',
					align: 'center',
		            formatter: function(value, row, index) {
		            	return $.table.selectDictLabel(datas_grade, value);
		            }
				},
				{
					field : 'goods_name', 
					title : '名称',
					align: 'center',
				  	formatter: function(value, row, index) {
				  		var goods_name_desc = $.table.tooltip(row.goods_name)
				  		return goods_name_desc;
				  	}
				},
				{
					field : 'label', 
					title : '产品标签'
				},
				{
					field : 'goods_price', 
					title : '商品金额',
					sortable: true
				},
				{
					field : 'express_cash', 
					title : '快递'
				},
				{
					field : 'goods_sales_num', 
					title : '销量',
					sortable: true
				},
				{
					field : 'goods_stock_num', 
					title : '库存',
					sortable: true
				},
				{
					field : 'goods_status', 
					title : '状态',
					align: 'center',
		            formatter: function(value, row, index) {
		            	return $.table.selectDictLabel(datas_goods_status, value);
		            }
				},
				{
					field : 'cre_date', 
					title : '创建时间',
					sortable: true
				},
				{
					title: '&#12288;&#12288;&#12288;操作&#12288;&#12288;&#12288;',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	//事件数组
		                var actions = [];
		            	//查看商品明细信息
		              	actions.push('<a class="btn btn-success btn-xs ' + sysDelFlag + '" href="#" onclick="$.operate.sysDel(\'' + row.id + '\',\'0\')"><i class="fa fa-mail-reply"></i>还原</a> ');
		              	return actions.join('');
		            }
		        },
				/* {
					field : 'up_date', 
					title : '更新时间',
					sortable: true
				}, */
				/* {
					field : 'update_by', 
					title : '更新人'
				} */]
		    };
		    //表格初始化
		    $.table.init(options);
		}
		
	</script>
</body>
</html>