<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('系统充值银行卡列表')" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
</head>
<body class="gray-bg">
	
	<!-- 系统参数列表 -->
	<div class="container-div ui-layout-center">
		<div class="row">
			
			<!-- 最上面的搜索框 -->
			<div class="col-sm-12 search-collapse">
				<form id="user-form">
					<div class="select-list">
						<ul>
							<li>
								<input type="hidden" name="Company_level" id="Company_level" value="1" />
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
			
			<!-- 上面的各项增删改查导入导出操作 -->
	        <div class="btn-group-sm" id="toolbar" role="group">
	            <a class="btn btn-primary single disabled" onclick="$.operate.editTab()" shiro:hasPermission="develop:sysCompany:edit">
		            <i class="fa fa-edit"></i> 修改
		        </a>
	        </div>

	        
	        <!-- bootstrap表格数据部分 -->
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
			
		</div>
	</div>
	
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
		//编辑
		var editFlag = [[${@permission.hasPermi('develop:sysCompany:edit')}]];	
	
		//前缀路径
		var prefix = "/develop/sysCompany";
		
		//初始化方法
		$(function() {
		    querySysCompanyList();
		});

		
		//查询系统充值银行卡列表
		function querySysCompanyList() {
		    var options = {
		        url: prefix + "/list",//URL列表路径
		        updateUrl: prefix + "/edit/{id}",//编辑路径
		        exportUrl: prefix + "/export",//导出路径
		        modalName: "公司简介",//模块名称：用户
		        showExport: true,
		        sortName: 'id',
	          	sortOrder: 'desc',
		        //列信息
		        columns: [{
		            checkbox: true
		        },
		        {
					field : 'id', 
					title : '编号',
					sortable: true
				},
				{
					field : 'company_name', 
					title : '公司名称'
				},
// 				{
// 					field : 'company_size', 
// 					title : '成立和规模'
// 				},
// 				{
// 					field : 'company_address', 
// 					title : '公司地址',
// 					align: 'center',
// 				  	formatter: function(value, row, index) {
// 				      	return $.table.tooltip(value);
// 				  	}
// 				},
// 				{
// 					field : 'company_profile', 
// 					title : '公司简介',
// 					align: 'center',
// 				  	formatter: function(value, row, index) {
// 				      	return $.table.tooltip(value);
// 				  	}
// 				},
				{
					field : 'up_date', 
					title : '更新时间',
					sortable: true
				},
				{
					field : 'update_by', 
					title : '更新人'
				},
				{
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	//事件数组
		                var actions = [];
		                actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.editTab(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
		            	return actions.join('');
		            }
		        }]
		    };
		    //表格初始化
		    $.table.init(options);
		}
		
		
	</script>
</body>
</html>