<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('用户兑换列表')" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
</head>
<body class="gray-bg">
	
	<!-- 系统参数列表 -->
	<div class="container-div ui-layout-center">
		<div class="row">
			
			<!-- 最上面的搜索框 -->
			<div class="col-sm-12 search-collapse">
				<form id="user-form">
					<div class="select-list">
						<ul>
							<li>
								订单号：<input type="text" name="order_id" id="order_id" />
							</li>
							<li>
								转出账号：<input type="text" name="out_sys_user_account" id="out_sys_user_account" />
							</li>
							<li>
								转出UID：<input type="text" name="out_uid" id="out_uid" />
							</li>
							<li>
								转出手机号：<input type="text" name="out_user_tel" id="out_user_tel" />
							</li>
<!-- 							<li> -->
<!-- 								转账类型： -->
<!-- 								<select name="roll_type" id="roll_type" th:with="type=${@dict.getType('user_roll_log_roll_type')}"> -->
<!-- 									<option value="">所有</option> -->
<!-- 									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option> -->
<!-- 								</select> -->
<!-- 							</li> -->
							<li>
								转入账号：<input type="text" name="in_sys_user_account" id="in_sys_user_account" />
							</li>
							<li>
								转入UID：<input type="text" name="in_uid" id="in_uid" />
							</li>
							<li>
								转入手机号：<input type="text" name="in_user_tel" id="in_user_tel" />
							</li>
							<li class="select-time">
								<label>创建时间： </label>
								<input type="text" class="time-input" id="startTime" placeholder="开始时间" name="beginTime"/>
								<span>-</span>
								<input type="text" class="time-input" id="endTime" placeholder="结束时间" name="endTime"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="searchTable()" ><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
			
			<!-- 上面的各项增删改查导入导出操作 -->
	        <div class="btn-group-sm" id="toolbar" role="group">
		        <!-- 表格：导出数据 -->
	            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="develop:userRoll:export">
		            <i class="fa fa-download"></i> 导出
		        </a>
	        </div>

	        
	        <!-- bootstrap表格数据部分 -->
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
			
		</div>
	</div>
	
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
		var sysOperFlag  = [[${@permission.hasPermi('develop:userRoll:sysOper')}]];	
		
		//数据字典
		var datas_roll_type = [[${@dict.getType('user_roll_log_roll_type')}]];
	
		//前缀路径
		var prefix = "/develop/userRoll";
		
		//初始化方法
		$(function() {
			//初始化时间范围
			intiTime();
		   	//查询转账日志列表
		    queryUserRollList();
		  	//汇总数据
		    setTimeout("summaryUserRollList()","1000"); 
		});

		
		//查询转账日志列表
		function queryUserRollList() {
		    var options = {
		        url: prefix + "/list",//URL列表路径
		        exportUrl: prefix + "/export",//导出路径
		        modalName: "转账日志",//模块名称：用户
		        showFooter: true,
		        showExport: true,
		        sortName: 'id',
	          	sortOrder: 'desc',
		        //列信息
		        columns: [{
		            checkbox: true
		        },
		        {
					field : 'id', 
					title : '编号',
					sortable: true
				},
				{
					field : 'order_id', 
					title : '订单号'
				},
				{
					field : 'out_user_id', 
					title : '转出编号/账号/UID',
					formatter: function(value, row, index) {
						return '<a href="javascript:void(0)" onclick="$.operate.detailUser(\'' + row.out_user_id + '\')">' + row.out_user_id + '</a>'
								+ '<br><a href="javascript:void(0)" onclick="$.operate.detailUser(\'' + row.out_user_id + '\')">' + row.out_sys_user_account + '</a>'
								+'<br><a href="javascript:void(0)" onclick="$.operate.detailUser(\'' + row.out_user_id + '\')">' + row.out_uid + '</a>'
		            }
				},
// 				{
// 					field : 'roll_type', 
// 					title : '转账类型',
// 					align: 'center',
// 		            formatter: function(value, row, index) {
// 		            	return $.table.selectDictLabel(datas_roll_type, value);
// 		            }
// 				},
				{
					field : 'in_user_id', 
					title : '转入编号/账号/UID',
					formatter: function(value, row, index) {
						return '<a href="javascript:void(0)" onclick="$.operate.detailUser(\'' + row.in_user_id + '\')">' + row.in_user_id + '</a>'
								+ '<br><a href="javascript:void(0)" onclick="$.operate.detailUser(\'' + row.in_user_id + '\')">' + row.in_sys_user_account + '</a>'
								+'<br><a href="javascript:void(0)" onclick="$.operate.detailUser(\'' + row.in_user_id + '\')">' + row.in_uid + '</a>'
		            }
				},
				{
					field : 'roll_num', 
					title : '转出数量',
					footerFormatter:function (value) {
				        return "<span id='sum_roll_num'>总转出数量：0.00<span>";
				    }
				},
				{
					field : 'roll_charge', 
					title : '转出手续费',
					footerFormatter:function (value) {
				        return "<span id='sum_roll_charge'>总转出手续费：0.00<span>";
				    }
				},
				/* {
					field : 'charge_rate', 
					title : '手续费比例'
				}, */
				{
					field : 'cre_date', 
					title : '创建时间',
					sortable: true
				}]
		    };
		    //表格初始化
		    $.table.init(options);
		}
		
		
		//自定义搜索事件
		function searchTable(){
			$.table.search();
			//汇总数据
		    setTimeout("summaryUserRollList()","1000"); 
		}

		
		//汇总数据统计
		function summaryUserRollList(){
			$.ajax({
				url:"/develop/userRoll/summaryUserRollList",
				type:"post",
				dataType:"json",
				data:{
					'order_id' : $("#order_id").val(),
					'out_sys_user_account' : $("#out_sys_user_account").val(),
					'out_uid' : $("#out_uid").val(),
					'out_user_tel' : $("#out_user_tel").val(),
					'roll_type' : $("#roll_type").val(),
					'in_sys_user_account' : $("#in_sys_user_account").val(),
					'in_uid' : $("#in_uid").val(),
					'in_user_tel' : $("#in_user_tel").val(),
					'beginTime' : $("#startTime").val(),
					'endTime' : $("#endTime").val()
				},
				success:function(data){
					$("#sum_roll_num").html("总转出数量："+data.sum_roll_num);
					$("#sum_roll_charge").html("总转出手续费："+data.sum_roll_charge);
				},
				error:function(){
					alert("error");
				}
			});
		}
		
	</script>
</body>
</html>